h1{
    color: blue;
    font-size: 2em;
}


header span{
    font-size: 1.5em;
    padding: 13px 50px 13px 50px;
    color: black;
}

#logo{
    position: left;
    width: 3em;
    margin: auto;
    height: auto;
}

.barraprincipal{
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center ;

}

.section { 
    padding: 2em; 
    text-align: center; 
}

.grid {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


.grid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.slider-wrapper {
    position: relative;
    overflow: hidden;
}
.slider-container {
    display: flex;
    transition: transform 0.3s ease;
}

.slider-item {
    min-width: 100%;
    flex-shrink: 0;
}

.slider-item img {
    width: 100%;
    border-radius: 8px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 0.5em;
    cursor: pointer;
    z-index: 1;
}


.arrow.left { left: 10px; }
.arrow.right { right: 10px; }
